@import "css/reset.css";
@import "css/variables.css";

/*  UTILS */
@import "css/utils/layout.utils.css";
@import "css/utils/spacing.utils.css";
@import "css/utils/typography.utils.css";
@import "css/utils/flex-grid.utils.css";

/*  COMPONENTS (UI) */
@import "css/components/button.component.css";
@import "css/components/input.component.css";
@import "css/components/card.component.css";
@import "css/components/reel.component.css";

.upperPortion {
  background-image: url(./img/desert.jpg);
  color: white;
}

.wrapper {
  text-align: center;
}

.timeArea {
  font-size: large;
  margin-top: 10px;
}

.totalBalance {
  font-size: xx-large;
}

.incomeArea {
  display: flex;
  justify-content: space-between;
  background-color: #38b2ad;
  padding: 10px;
  margin-top: 26px;
  margin-bottom: 12px;
  padding-right: 50px;
}

.income {
  display: flex;
}

.expensesArea {
  display: flex;
  justify-content: space-between;
  background-color: #f83d41;
  padding: 10px;
  margin-bottom: 12px;
}

.expensesAndPercentage {
  display: flex;
}

.percentage {
  background-color: #f55555;
  width: 30px;
}

.middlePortion {
  background-color: #f5f0f5;
}

.middleWrapper {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.middleWrapper input {
  margin-inline: 10px;
}

#listsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

#listsContainer > * {
  flex: 1;
}

.income__list {
  color: var(--clr-income);
}

.expenses__list {
  color: var(--clr-expenses);
}

#listsContainer li {
  display: flex;
  justify-content: space-between;
  border-block: 1px solid lightgrey;
  padding: 0.5rem;
}

#listsContainer li:nth-child(even) {
  background-color: var(--clr-neutral-300);
}

#listsContainer li div {
  display: flex;
  align-items: center;
  gap: 1rem;
  i {
    display: none;
  }
}

#listsContainer li div:hover {
  i {
    display: block;
    cursor: pointer;
  }
}
