@import "css/reset.css";
@import "css/variables.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.wrapper-small {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 400px) minmax(1rem, 1fr);
  grid-gap: 1rem;
}
.wrapper-medium {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 600px) minmax(1rem, 1fr);
  grid-gap: 1rem;
}
.wrapper-large {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1000px) minmax(
      1rem,
      1fr
    );
  grid-gap: 1rem;
}

.background-image {
  background: url(./img/desert.jpg) no-repeat center;
  background-size: cover;
}

.budget__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding-block: 2rem;
  text-align: center;
}

.budget__date {
  font-size: 1.5rem;
}

.budget__total-balance {
  font-size: 4rem;
}

.budget__income-balance {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--clr-income);
  padding: 10px;
  padding-inline-end: 60px;
}

.budget__expenses-balance {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--clr-expenses);
  padding: 10px;
}

.budget__expenses-percentage {
  display: flex;
  gap: 1rem;
}

.percentage__container {
  background-color: var(--clr-accent);
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 0.2rem;
}

.input__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block: 0.8rem;
}

input,
select {
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--clr-neutral-900);
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
}

#descriptionInput {
  flex-grow: 1;
}
#amountInput {
  width: 150px;
}

.transactions__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-block: 2rem;
}

.transactions__container > * {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.income__container {
  color: var(--clr-income);
}

.expenses__container {
  color: var(--clr-expenses);
}

.transaction__item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-block: 1px solid lightgrey;
  padding: 0.5rem;
}

.transaction__item:nth-child(even) {
  background-color: var(--clr-neutral-300);
}

.transaction__description {
  color: black;
  min-width: 0;
  overflow-wrap: anywhere;
}

.transaction__details {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 1s;
  i {
    display: none;
  }
}

.transaction__details:hover {
  transform: translateX(-8px);
  i {
    display: block;
    cursor: pointer;
  }
}
